$primary: hsla(178, 100%, 42%, 1);
$primary-dark: hsla(168, 100%, 45%, 1);
$secondary: #00D5AB;
$gray3: hsla(216, 17%, 31%, 1);
$gray21: hsla(216, 17%, 91%, 1);
$gray2: #A6ADB7;
$gray1: #f7f8ff;
$black: #626871;

$menu-width: 225px;